
<section id="banner" 
  <div class="wrapper">
    <!--<div class="FeaturedImgBanner"  style="background-image: url({{site.baseurl}}/assets/img/background_transparent.png);" > 
      <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %}Rebackpacker{% endif %}</h1>
      <-- Include your post title, byline, date, and other info inside the header here. 
    </div>-->

    <div class="content">
      <div class="FeaturedImgBanner" style="background-image: url({{site.baseurl}}/assets/img/background_transparent_long.png);" >
      <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %}Rebackpacker{% endif %}</h1>
    </div>
  </div>
</section> <!-- End Section Banner -->