---
layout: default
---
{% include header.html %}

<main class="post_content">
  <article class="post">
    <header>
      <div class="post_image">
        <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
      </div>
      <div class="post_description">
        <p class="post_meta">{{page.date | date: '%Y, %b %d'}}</p>
        <h1 class="post_title">{{page.title}}</h1>
      </div>
    </header> <!-- End Header -->

    <!-- Content -->
    <div class="entry_content">
      {{page.content | markdownify}}
    </div>

<!-- The grid: four columns -->
<section class="photo_box">
  <div class="recent_list">
    <div class="post_wrapper">
      <h2 class="recent_title">Fotos</h2>
        <div class="recent_item">
        <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.img1}} width="270" height="180" alt="" style="margin:5px" align="left">
        <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.img2}} width="270" height="180" alt="" style="margin:5px" align="left">
        <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.img3}} width="270" height="180" alt="" style="margin:5px" align="left">
        </div>
        <div class="recent_item">
        <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.img4}} width="270" height="180" alt="" style="margin:5px" align="left">
        <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.img5}} width="270" height="180" alt="" style="margin:5px" align="left">
        <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.img6}} width="270" height="180" alt="" style="margin:5px" align="left">
        </div>
        <div class="recent_item">
        <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.img7}} width="270" height="180" alt="" style="margin:5px" align="left">
        <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.img8}} width="270" height="180" alt="" style="margin:5px" align="left">
        <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.img9}} width="270" height="180" alt="" style="margin:5px" align="left">
        </div>
      </div>
    </div>
  </div>
</section>
    
    
  <section class="recent_box">
    <div class="post_wrapper">
      <h2 class="recent_title">Recent post</h2>
      <div class="recent_list">
        {% for post in site.posts offset:0 limit:3 %}
          {% if post.title %}
            <a href="{{ post.url | prepend: site.baseurl }}"
              class="recent_item"
              style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )">
                <span>{{ post.title }}</span>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section> <!-- End Section Recent Box -->
  
  {% include disqus.html %}
  
</main> <!-- End Section Post Content -->

{% include footer.html %}
