---
layout: default
---
{% include header.html %}

<main class="post_content">
  <article class="post">
    <header>
      <div class="post_image">
        <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
      </div>
      <div class="post_description">
        <p class="post_meta">{{page.date | date: '%Y, %b %d'}}</p>
        <h1 class="post_title">{{page.title}}</h1>
      </div>
    </header> <!-- End Header -->

    <!-- Content -->
    <div class="entry_content">
      {{page.content | markdownify}}
    </div>

    <!-- Photos of this date in quadratic version -->
    <div class="post_gallery">
      <h2 class="post_gallery_title">Gallery</h2>
      <div class="post_gallery_list">
        {% for img in page.imgs %}
          <a href="{{ "/assets/img/" | prepend: site.baseurl | append : img}}" data-lightbox="post-gallery" data-title="{{page.title}}">
            <img src="{{ "/assets/img/" | prepend: site.baseurl | append : img}}" alt="{{page.title}}">
          </a>
        {% endfor %}
      </div>
 
    
    
  <section class="recent_box">
    <div class="post_wrapper">
      <h2 class="recent_title">Recent post</h2>
      <div class="recent_list">
        {% for post in site.posts offset:0 limit:3 %}
          {% if post.title %}
            <a href="{{ post.url | prepend: site.baseurl }}"
              class="recent_item"
              style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )">
                <span>{{ post.title }}</span>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section> <!-- End Section Recent Box -->
  
  {% include disqus.html %}
  
</main> <!-- End Section Post Content -->

{% include footer.html %}
